/JavaServer/nbproject/private/
/JavaClient/nbproject/private/
/JavaServer/build/
/JavaClient/build/
/JavaClient/dist/
/JavaServer/dist/
/ModelServer/nbproject/private/
/ModelServer/build/
/ModelServer/dist/